<div class="row section">
  <div class="span24">
    <div class="box warning has-ico">
      <i class="ico ico-36 ico-expiring in-gutter"></i>
      <p>
        You were redirected to this screen because there is no order selected yet.
        To get to the order preview screen either select an order in the 
        <%= link_to "Shopify admin interface", shop_admin_url('orders') %>
        or click on one of the latest orders below.
      </p>
    </div>
  
    <div class="itemlist">
      <% if @orders.blank? %>  
      <em class="note">
        There are no orders in your store. You need a visible order first to see a preview of any template.
      </em>
      <% else %>
      <ul>
        <% @orders.each do |order| %>
        <li>
          <div class="order">
            <strong><%= link_to order.name, :action => 'show', :id => order %></strong>
            <span class="price"><%=  money_with_currency(order.total_price, true) %></span>
            <%= order_status(order) %>
            by <span class="note"><%= order.billing_address.name %></span>
          </div>
        </li>
        <% end %>
      </ul>
      <% end %>
    </div>
  </div>
</div>
