<% content_for :page_title do %>
  <a href="/orders"><i class="ico ico-20 app-icon"></i></a>
  <span>Invoice & Receipt Printer</span>
<% end %>

<div class="row">
  <div class="span24">
    <div class="box warning">
      <p>
        To get to the order preview screen either select an order in the 
        <%= link_to "Shopify admin interface", shop_admin_url('orders') %>
        or click on one of the latest orders below.
      </p>
    </div>

    <div class="printer-itemlist">
      <% if @orders.blank? %>
        <em class="note">There are no orders in your store. You need a visible order first to see a preview of any template.</em>
      <% else %>
        <table class="expanded">
          <thead>
            <tr>
              <th><span>Order</span></th>
              <th><span>Date</span></th>
              <th><span>Placed by</span></th>
              <th><span>Payment status</span></th>
              <th><span>Fulfillment status</span></th>
              <th><span>Price</span></th>
              </th>
            </tr>
          </thead>
          <tbody>
            <% @orders.each do |order| %>
              <tr>
                <td><%= link_to order.name, :action => 'show', :id => order %></td>
                <td><%= order.created_at.strftime('%b %d, %I:%M%P') %></td>
                <td><%= order.billing_address.name %></td>
                <td><%= order_status(order) %></td>
                <td><%= fulfillment_status(order) %></td>
                <td><%= money_with_currency(order.total_price, true) %></td>
              </tr>
            <% end %>
          </tbody>
        </table>
      <% end %>
    </div>
  </div>
</div>