<div class="row">

  <div class="span17">
    <div id="printer-preview-empty_message">Please select a template from the right to continue.</div>
    <% @tmpls.each do |tmpl| %> <div id="preview-<%= tmpl.id %>"></div> <% end %>
  </div>
  
  <div class="span7">
    <div class="box box-details">
      <div class="box-header p">
        <h3>Order details</h3>
      </div>
      <div class="box-content">
        <h1 class="order-details-number">Order <%= @order.name %></h1>
        <strong><%= @order.billing_address.name %> (<%= @order.billing_address.country %>)</strong>
        <p class="printer-order-details-price">
          <%= money_with_currency(@order.total_price, true) %>
          <%= order_status(@order) %>
        </p>
      </div>
    </div> <!-- box -->
    
    <div class="box box-details printer-sidebar-template-box">
      <div class="box-header p">
        <h3>Select documents to print</h3>
      </div>
      <div class="box-content">
        <% if @tmpls.blank? %>
          <p>No templates found, you should create a new one.</p>
        <% else %>
          <% form_tag({:action => 'print'}, :id => "selected-templates") do %>
          <ul class="printer-list-templates">
            <% @tmpls.each do |tmpl| %>
              <%= render :partial => 'template_checkbox', :locals => {:tmpl => tmpl, :options_hidden => true} %>
              <%= link_to_remote image_tag("trash.gif"), :url => tmpl, :method => :delete, :confirm => "Are you sure you want to delete the template named #{tmpl.name}?" %>
              <%= link_to_remote "edit", :url => [:edit, tmpl], :method => 'get' %>
            <% end %>
          </ul>
          <% end %>
          <%= link_to_remote '', :url => new_print_template_path, :method => :get, :html => {:class => "new-template", :style => "display: none"} %>
        <% end %>
      </div>
    </div>
    <div class="box order-note-attr subdiv tr ssb">
      <a href="#" class="btn slim">Create new template</a>
    </div>

  </div> <!-- span7 -->
</div> <!-- row -->

<% content_for :javascript do %>
  Templates.initialize('<%= @order.id %>');
  <% if @safe %>  Templates.safeMode();  <% end %>
  Templates.checkAll();
<% end %>