<% content_for :header_right do %>
  <a href="#"><%= link_to_function "Print", "Templates.print()", :class => "btn primary" %></a>
<% end %>

<% content_for :page_title do %>
  <a href="/orders"><i class="ico ico-20 app-icon"></i></a>
  <a href="https://<%= shop.domain %>/admin/orders" class="breadcrumb">Orders</a>
  <span class="breadcrumb">/</span>
  <a href="https://<%= shop.domain %>/admin/orders/<%= @order.id %>" class="breadcrumb"><%= @order.name %></a>
  <span class="breadcrumb">/</span>
  <span>Print Documents</span>
<% end %>

<div class="row">

  <div class="span17">
    
    <div id="printer-preview-blank-slate" class="blank-slate" style="">
      <i class="ico ico-72 ico-articles"></i>
      <h2>No documents selected</h2>
      <p>Please select a template from the right to continue</p>
    </div>

    <% @tmpls.each do |tmpl| %> <div id="preview-<%= tmpl.id %>"></div> <% end %>
    
  </div>
  
  <div class="span7">
    <div class="box box-details">
      <div class="box-header p">
        <h3>Order <%= @order.name %></h3>
        <span class="edit-order"><a href="https://<%= shop.domain %>/admin/orders/<%= @order.id %>">view</a></span>
      </div>
      <div class="box-content p printer-order-details-content">
          
        <span><strong><%= @order.billing_address.name %></strong></span>
        <span><%= @order.billing_address.company %></span>
        <span><%= @order.billing_address.address1 %></span>
        <span><%= @order.billing_address.address2 %></span>
        <span><%= @order.billing_address.city %> <%= @order.billing_address.province_code %> <%= @order.billing_address.zip %></span>
        
        <!-- Figure out what to do with the flag -->
        <!-- <span class="fl flag flag-CA">&nbsp;</span> -->

        <span><%= @order.billing_address.country %></span>
        
        <span class="st">Order total: <%= money_with_currency(@order.total_price, true) %></span>
        <span class="printer-order-details-status">Payment status: <%= order_status(@order) %></span>

      </div>
    </div> <!-- box -->
    
    <div class="box box-details printer-sidebar-template-box">
      <div class="box-header p">
        <h3>Select documents to print</h3>
      </div>
      <div class="box-content">
        <% if @tmpls.blank? %>
          <p>No templates found, you should create a new one.</p>
        <% else %>
          <% form_tag({:action => 'print'}, :id => "selected-templates") do %>
          <ul class="printer-list-templates">
            <% @tmpls.each do |tmpl| %>
              <%= render :partial => 'template_checkbox', :locals => {:tmpl => tmpl, :options_hidden => true} %>
            <% end %>
          </ul>
          <% end %>
          <%= link_to_remote '', :url => new_print_template_path, :method => :get, :html => {:class => "new-template", :style => "display: none"} %>
        <% end %>
      </div>
    </div>
    <div class="box order-note-attr subdiv tr ssb">
      <a href="#" class="btn slim">Create new template</a>
    </div>

  </div> <!-- span7 -->
</div> <!-- row -->

<% content_for :javascript do %>
  Templates.initialize('<%= @order.id %>');
  <% if @safe %>  Templates.safeMode();  <% end %>
  Templates.checkAll();
<% end %>