<%= @tmpl.name %>
<%= @tmpl.created_at %>
<%= @tmpl.updated_at %>
<%= @tmpl.default %>
<%= @tmpl.body %>

<div class="row section description first-section">

  <div class="span6 section-summary">
    <h1>Editing templates</h1>
    <p>
    The template can be customized using html css and liquid. Much like how customizing your store's theme works.
    </p>
  </div>

  <div class="span18 section-content">
    <label for="printer-template-edit-name">Name</label>
    <input name="printer-template-edit-name" type="text" class="large ssb">

    <div class="ssb">
      <label for="printer-template-edit-body">Description</label>
      <textarea name="printer-template-edit-body"></textarea>
    </div>
  </div>
</div>