<!--
List of variables

<%= @tmpl.name %>
<%= @tmpl.created_at %>
<%= @tmpl.updated_at %>
<%= @tmpl.default %>
<%= @tmpl.body %>
-->

<div class="row section description first-section">

  <div class="span6 section-summary">
    <h1>Edit template</h1>
    <p>The template can be customized using html css and liquid. Much like how customizing your store's theme works.</p>
    <a href="/print_templates/variables" target="_blank" class="plain view-in-store" style="">View the variable list</a>
  </div>

  <div class="span18 section-content">
    <label for="name">Name</label>
    <input name="name" type="text" class="large ssb" value="<%= @tmpl.name %>">

    <div class="ssb">
      <label for="body">Description</label>
      <textarea name="body" class="printer-template-edit-body"><%= @tmpl.body %></textarea>
    </div>
  </div>
</div>

<div class="row section">

  <div class="span6 section-summary">
    <h1>Template settings</h1>
    <p>Templates can shown by default when you open an order.</p>
  </div>

  <div class="span18 section-content">

<!-- Need to incorperate <%= @tmpl.default %> into the checkbox -->

    <div>
      <input name="show" type="checkbox" value="<%= @tmpl.default %>">
      <label class="inline" for="show">Show this template by default</label>
    </div>
    
  </div>
</div>

<div class="row section buttons">
  <a class="fl btn destroy" data-modal="products/delete_product_modal" href="#">Delete this template</a>
  <input type="submit" class="btn " data-addclass-primary="product.isDirty" value="Save">
</div>