<!DOCTYPE html>
<!--[if lt IE 7 ]> <html class="no-js ie6"> <![endif]-->
<!--[if IE 7 ]> <html class="no-js ie7"> <![endif]-->
<!--[if IE 8 ]> <html class="no-js ie8"> <![endif]-->
<!--[if IE 9 ]> <html class="no-js ie9"> <![endif]-->
<!--[if (gt IE 9)|!(IE)]><!--> <html class="no-js"> <!--<![endif]-->
<head>

  <link rel="shortcut icon" href="/images/adf/favicon.png" />
  <link rel="apple-touch-startup-image" href="/images/adf/shopify-57.png" />
  <link rel="apple-touch-icon-precomposed" href="/images/adf/shopify-57.png" />
  <link rel="apple-touch-icon-precomposed" sizes="72x72" href="/images/adf/shopify-72.png" />
  <link rel="apple-touch-icon-precomposed" sizes="114x114" href="/images/adf/shopify-114.png" />
  
  <title><%= APP_NAME %></title>
  
  <%= stylesheet_link_tag "adf/framework", :media => "all" %>
  <%= stylesheet_link_tag "application", :media => "all" %>
  <%= stylesheet_link_tag 'print', :media => 'print' %>
  <%= javascript_include_tag :defaults, 'jquery-ui' %> 

  <% javascript_tag do %>
    <% if flash[:notice] %> window.onload = function() { Messenger.notice(<%= h(flash[:notice]).inspect %>); } <% end %>
    <% if flash[:error] %>  window.onload = function() { Messenger.error(<%= h(flash[:error]).inspect %>); }   <% end %>
    
    $(document).ready(function() {
      <%= yield :javascript %>
    });
  <% end %> 
</head>
	
<body>
  
  <div id="global-notification">
    <div id="flashnotice" style="display:none;"></div>
    <div id="flasherrors" style="display:none;"></div>    
  </div>
  
  <div class="wrapper">
    <div id="body" class="clearfix">
        <%= @content_for_layout %>
    </div>
  </div>
  
</body>
</html>